.sm{
    color: rgb(147, 146, 146);
    font-family: sans-serif;
}



.c2{
    background-color: white;
    height: 100vh;

    position: relative;
}
.ser{
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    background-color: white;
    position: fixed;
    top: 10px;
    right: px;
}
.set{
    width: 50px;
    height: 50px;

    position: fixed;
    top: 200px;
    right: 0px;
    border: none;
    border-radius: 10% 0 0 10%;
  
}
.img{
    border-radius: 15% 0 0 15%;
}
.bn{
    width: 100px;
    height: 40px;
   
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;

}
.bt{
    border: none;
    box-shadow: rgba(187, 78, 78, 0.35) 0px 5px 15px;
    color: white;
    
}